/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600
*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
html {
	font-size: 62.5%;
}
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Outfit', sans-serif;
	line-height: 1.5;
	letter-spacing: 0.075px;
}
.main {
	background-color: #e0e0e0;
	padding: 5.6rem 4.8rem;
}
.container {
	background-color: #0d192b;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	background-color: #14253d;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	width: 20rem;
	margin: 7.6rem 0;
	padding: 1.2rem;
	border-radius: 0.8rem;
}

.text-box {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
.title {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	transition: all 0.6s;
}
.text-info {
	color: #8a929e;
	font-weight: 300;
	font-size: 1.2rem;
}
.about {
	display: flex;
	justify-content: space-between;
}
.price-box,
.time-box {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	font-size: 1rem;
}
.price {
	color: #00fff7;
	font-weight: 400;
}
.time {
	color: #8a929e;
}
.author-box {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}
.author {
	height: 2.6rem;
}
.author-text {
	color: #8a929e;
	font-size: 0.8rem;
}
.author-name {
	color: #fff;
	transition: all 0.6s;
}
.author-name:hover,
.title:hover {
	color: #00fff7;
	cursor: pointer;
}
/*ANIMATE IMG WHEN HOVER */
.box-equilibrium {
	position: relative;
	border-radius: 0.9rem;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 255, 247, 0.815),
		rgba(0, 255, 247, 0.822)
	);
	display: flex;
}
img.equilibrium {
	width: 100%;
	border-radius: 0.8rem;
	cursor: pointer;
	transition: all 0.5s;
}
img.equilibrium:hover {
	opacity: 0.5;
}
.icon-view {
	opacity: 0;
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translate(50%, 50%);
	transition: all 0.5s;
	pointer-events: none;
}
.equilibrium:hover + .icon-view {
	opacity: 1;
}
@media (max-width: 31em) {
	.main {
		height: 100vh;
		padding: 12.8rem 0;
	}
}

/* MODAL COMPONENT AND HOW IT WORKS, BELOW */
.attribution {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	background-color: #fff;
}
.attribution a:link,
.attribution a:visited {
	color: #000;
	font-weight: 700;
	text-decoration: none;
}
.hendrick-info {
	position: relative;
	padding: 4.8rem;
}
.hendrick-details {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}
.socials {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.social {
	font-size: 1.8rem;
}
.close {
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(-50%, 50%);
	background-color: transparent;
	border: none;
	font-size: 2.4rem;
	cursor: pointer;
	outline: none;
}
.close:focus {
	box-shadow: 0 0 0 0.05rem #000;
}
.blur {
	filter: blur(0.5rem);
	pointer-events: none;
}
.opacity-medium {
	opacity: 0.5;
}
.opacity-min {
	opacity: 1;
}
/* MODAL MINI-PACKAGE */
/* 
You would put into parent element of your content site and put all HTML modal outside of parent element for good results🤗  
And add main and blur class to parent element of your content so this javascript code 😏
HAPPY CODING!
Javascript code: 
	<script>
			const showContent = document.querySelector('.blur');
			const btnClose = document.querySelector('.close');
			const deleteModal = () => {
				showContent.classList.remove('blur');
				btnClose.parentElement.parentElement.remove();
			};
			btnClose.addEventListener('click', deleteModal);
	</script>

	
Modal HTML code: 
		<div class="attribution">
			<div class="hendrick-info">
				<button class="close">
					<ion-icon name="close"></ion-icon>
				</button>
				<div class="hendrick-details">
					<p>
						Challenge by
						<a
							href="https://www.frontendmentor.io?ref=challenge"
							target="_blank"
						>
							Frontend Mentor
						</a>
					</p>
					<p class="hendrick">
						Coded by
						<a href="https://www.linkedin.com/in/hendrick-galarza/"
							>Hendrick GH</a
						>
					</p>
					<ul class="socials">
						<li class="social">
							<a href="https://github.com/HendrickGH"
								><ion-icon name="logo-github"></ion-icon
							></a>
						</li>
						<li class="social">
							<a href="https://twitter.com/HendrickGalarza"
								><ion-icon name="logo-twitter"></ion-icon
							></a>
						</li>
						<li class="social">
							<a href="tel:7721698485"><ion-icon name="call"></ion-icon></a>
						</li>
						<li class="social">
							<a href="https://hendrickgh.netlify.app/"
								><ion-icon name="globe"></ion-icon
							></a>
						</li>
						<li class="social">
							<a href="Currículum.pdf" download="cv-hendrick"
								><ion-icon name="attach"></ion-icon
							></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
*/
